<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title><%=bot.user.username%> Web Paneli</title>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/hak.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%=bot.avatarURL%>">

	

  
   

  </head>
  
  <body>
    <div class="card middle">
      <div class="top-section">
        <img src="https://resimag.com/p1/b68afdaeb21.png" alt="">
        <div class="menuicon">
          <span class="s1"></span>
          <span class="s2"></span>
        </div>
        <div class="name">
         <br>
          <span></span>
        </div>
      </div>

      <div class="info-section">
        <h2>Bilgi
          <div class="border"></div>
        </h2>
          <p>
      
          </p>
  
        </div>
      </div>
    </div>
  </body>
</html>
