<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%=bot.avatarURL%>">

	<title><%=bot.user.username%> Web Paneli</title>

    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/dc.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  </head>
  <body>
    <div class="middle">
      <a class="btn" href="https://discord.gg/knESwdy">
        <i class="fab fa-discord"></i>
      </a>

      <a class="btn" href="https://www.facebook.com/">
        <i class="fab fa-facebook-f"></i>
      </a>
 <a class="btn" href="https://web.botvortex.xyz">
    <i class="fab fa-chrome"></i>
      </a>
      <a class="btn" href="https://panel.botvortex.xyz">
    <i class="fas fa-angle-left"></i>
      </a>
     
    </div>
  </body>
</html>
